

body{
margin: 100px;

background: url("https://img.freepik.com/premium-photo/interior-laundry-room-with-washing-machine-bright-yellow-wall-background_566707-2440.jpg")no-repeat;
background-size: 1600px 1000px;
}
